# 🧠 ملفات WebStorm و IntelliJ IDEA
.idea/

# 🪟 ملفات النظام اللي ملهاش لازمة
.DS_Store
Thumbs.db

# 🧪 ملفات مؤقتة أو نسخ احتياطية
*.log
*.tmp
*.bak

# 📦 ملفات مضغوطة أو أرشيف
*.zip
*.rar
*.7z

# 👻 ملفات Mac أو Windows المؤقتة
ehthumbs.db
desktop.ini
